@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@model List<SatisHareket>
@{
    ViewBag.Title = "MusteriSatis";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2 style="margin-left: 30px">Departman Personel Satış</h2>
<br />
<ol class="breadcrumb mb-4" style="margin-left: 30px">
    <li class="breadcrumb-item active">Cari Adı : @ViewBag.cari</li>
</ol>
<table class="table table-condensed" style="margin-left: 30px">
    <tr>
        <th>Ürün</th>
        <th>Personel</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
        <th>Yazdır</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Urun.UrunAd</td>
            <td>@x.Personel.PersonelAd @x.Personel.PersonelSoyad</td>
            <td>@x.Fiyat ₺</td>
            <td>@x.Adet</td>
            <td>@x.ToplamTutar ₺</td>
            <td>@x.Tarih</td>
            <td><a href="#" class=" btn btn-default" style="background-color: dodgerblue">Yazdır</a></td>
        </tr>

    }
</table>

