@model MvcOnlineTicariOtomasyon.Models.Sınıflar.Faturalar
@{
    ViewBag.Title = "FaturaEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2 style="margin-left: 30px">Yeni Fatura Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.FaturaSeriNo, new { style = "margin-left: 30px" })
    @Html.TextBoxFor(x => x.FaturaSeriNo, new { style = "margin-left: 30px", @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.FaturaSiraNo, new { style = "margin-left: 30px" })
    @Html.TextBoxFor(x => x.FaturaSiraNo, new { style = "margin-left: 30px", @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Tarih, new { style = "margin-left: 30px" })
    @Html.TextBoxFor(x => x.Tarih, new { style = "margin-left: 30px", @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Saat, new { style = "margin-left: 30px" })
    @Html.TextBoxFor(x => x.Saat, new { style = "margin-left: 30px", @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.VergiDairesi, new { style = "margin-left: 30px" })
    @Html.TextBoxFor(x => x.VergiDairesi, new { style = "margin-left: 30px", @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.TeslimEden, new { style = "margin-left: 30px" })
    @Html.TextBoxFor(x => x.TeslimEden, new { style = "margin-left: 30px", @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.TeslimAlan, new { style = "margin-left: 30px" })
    @Html.TextBoxFor(x => x.TeslimAlan, new { style = "margin-left: 30px", @class = "form-control" })
    <br />
    <button style="margin-left: 30px" class="btn btn-info">Kaydet</button>
</form>

